@using Dqe.Web.Areas.Account.Models
@model RegisterViewModel
@{ ViewBag.Title = "Create Account"; }   
@using (Html.BeginForm("Register", "User", new { Area = "Account" }, FormMethod.Post, new { role = "form" }))
{
    <div>@Html.LabelFor(i => i.UserEmail)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.TextBoxFor(i => i.UserEmail, new { placeholder = "e.g. name@example.com", @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.UserEmail)</div>
    </div>
    <div>@Html.LabelFor(i => i.Password)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.PasswordFor(i => i.Password, new { @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.Password)</div>
    </div>
    <div>@Html.LabelFor(i => i.ConfirmPassword)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.PasswordFor(i => i.ConfirmPassword, new { @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.ConfirmPassword)</div>
    </div>
    <div>@Html.LabelFor(i => i.FirstName)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.TextBoxFor(i => i.FirstName, new { placeholder = "e.g. John", @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.FirstName)</div>
    </div>
    <div>@Html.LabelFor(i => i.LastName)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.TextBoxFor(i => i.LastName, new { placeholder = "e.g. Doe", @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.LastName)</div>
    </div>
    <div><button type="submit" class="btn btn-primary">Register</button></div>    
}   