@using Dqe.Web.Areas.Account.Models
@model UserProfileViewModel
@{ ViewBag.Title = "User Profile"; }
@using (Html.BeginForm("UserProfile", "User", new { Area = "Account" }, FormMethod.Post, new{role="form"}))
{
    <div>@Html.LabelFor(i => i.FirstName)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.TextBoxFor(i => i.FirstName, new { placeholder = "e.g. John", @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.FirstName)</div>
    </div>
    <div>@Html.LabelFor(i => i.LastName)</div>
    <div class="row form-group">
        <div class="col-lg-4">@Html.TextBoxFor(i => i.LastName, new { placeholder = "e.g. Doe", @class="form-control" })</div>
        <div class="col-lg-8 text-danger">@Html.ValidationMessageFor(i => i.LastName)</div>
    </div>
    <div><button type="submit" class="btn btn-primary">Submit</button></div>    
}   